<mat-toolbar>
  <span>Modifier contre bon Caisse</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<form mat-dialog-content class="normal-form" #angForm="ngForm">
  <div>
    <mat-grid-list [cols]="width" rowHeight="100px">

      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Numéro du contre bon" required type="number" name="cardNumber"
            [(ngModel)]="contreBonCaisse.cardNumber">
          <mat-error>Numéro du contre bon est obligatoire</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Type" required type="string" name="type" [(ngModel)]="contreBonCaisse.type">
          <mat-error>Nombre des contre bons est obligatoire</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Date de l'affectation" required type="text" name="date"
            [(ngModel)]="contreBonCaisse.date">
          <mat-error>Date de l'affectation est obligatoire</mat-error>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
    <div>
      <span class="error-message" *ngIf="error">{{errorMessage}}</span>
    </div>
    <div class="button-row">
      <button mat-raised-button color="primary" (click)="updateContreBonCaisse()"
        [disabled]="angForm.pristine || angForm.invalid">Ajouter
      </button>
      <button mat-raised-button color="warn" (click)="onClear(angForm)">Reset</button>
    </div>
  </div>
</form>
