<mat-toolbar>
  <span>Ajouter Pompiste</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<form mat-dialog-content class="normal-form" #angForm="ngForm">
  <mat-grid-list cols="1" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">

        <mat-form-field>
          <input matInput placeholder="Nom" required type="text" name="name" [(ngModel)]="pompiste.name">
          <mat-error>Nom est obligatoire</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" email type="email" name="email" [(ngModel)]="pompiste.email"
            #email="ngModel">
          <mat-error *ngIf="email.errors?.email">Email Invalide</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Téléphone" required type="number" maxlength="8" name="phone"
            [(ngModel)]="pompiste.phone">
          <mat-error>Téléphone est obligatoire</mat-error>
        </mat-form-field>

        <div class="button-row">
          <button mat-raised-button color="primary" (click)="addPompiste()"
            [disabled]="angForm.pristine || angForm.invalid">Ajouter
          </button>
          <button mat-raised-button color="warn" (click)="onClear(angForm)">Reset</button>
        </div>

      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
