<mat-toolbar>
  <span>Modifier Citerne</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>


<form mat-dialog-content class="normal-form" #angForm="ngForm">
  <div>
    <mat-grid-list [cols]="width" rowHeight="100px">

      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="identifiant" required type="text" name="identifiant"
            [(ngModel)]="citerne.identifiant">
          <mat-error>L'identifiant est obligatoire</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Capacite" required type="number" name="capacite" [(ngModel)]="citerne.capacite">
          <mat-error>La capacite est obligatoire</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Volume Restant" required type="number" name="contenu" [(ngModel)]="citerne.contenu">
          <mat-error>Le volume restant est obligatoire</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Selectionner le type</mat-label>
          <mat-select required [(ngModel)]="citerne.type" name="type">
            <mat-option value="essence">Essence</mat-option>
            <mat-option value="diesel">Diesel</mat-option>
          </mat-select>

          <mat-error>Type est obligatoire</mat-error>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

    <div class="button-row">
      <button mat-raised-button color="primary" (click)="updateClient()"
        [disabled]="angForm.pristine || angForm.invalid">Modifier
      </button>
      <button mat-raised-button color="warn" (click)="onClear(angForm)">Annuler</button>
    </div>
  </div>
</form>
