<mat-toolbar>
  <span>Modifier Citerne</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>


<form mat-dialog-content class="normal-form" #angForm="ngForm">
  <div>
    <mat-grid-list [cols]="width" rowHeight="100px">

      
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="code" (keydown.space)="$event.preventDefault()" required type="text" name="code"
            [(ngModel)]="citerne.code">
          <mat-error>Ce champ est obligatoire.</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="libelle" required type="text" name="libelle"
            [(ngModel)]="citerne.libelle">
          <mat-error>Ce champ est obligatoire.</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="capacite" required type="number" name="capacite" [(ngModel)]="citerne.capacite">
          <mat-error>Ce champ est obligatoire.</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Carburant</mat-label>
          <mat-select required [(ngModel)]="citerne.carburant" name="carburant">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let p of carburantService.carburants" [value]="p._id">{{p.ref}}</mat-option>
          </mat-select>

          <mat-error>Ce champ est obligatoire.</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="tolerance" required type="number" name="tolerance" [(ngModel)]="citerne.tolerance">
          <mat-error>Ce champ est obligatoire.</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="stock" required type="number" name="stock" [(ngModel)]="citerne.stock">
          <mat-error>Ce champ est obligatoire.</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="ordre" required type="number" name="ordre" [(ngModel)]="citerne.ordre">
          <mat-error>Ce champ est obligatoire.</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Etat</mat-label>
          <mat-select required [(ngModel)]="citerne.etat" name="etat">
            <mat-option value="actif">Actif</mat-option>
            <mat-option value="non actif">Non Actif</mat-option>
          </mat-select>

          <mat-error>Ce champ est obligatoire.</mat-error>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

    <div class="button-row">
      <button mat-raised-button color="primary" (click)="updateCiterne()"
        [disabled]="angForm.pristine || angForm.invalid">Modifier
      </button>
      <button mat-raised-button color="warn" (click)="onClear(angForm)">Annuler</button>
    </div>
  </div>
</form>
