<div mat-dialog-content>
  <mat-list>
      <mat-list-item><h4>Produit de carburant: </h4>&nbsp;&nbsp;{{carteBon.cardType}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><h4>Numéro du Bon: </h4>&nbsp;&nbsp;{{carteBon.cardNumber}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><h4>Nombre de litres: </h4>&nbsp;&nbsp;{{carteBon.litreNumber}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><h4>Code du Client: </h4>&nbsp;&nbsp;{{carteBon.clientCode}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><h4>Valeur du bon: </h4>&nbsp;&nbsp;{{carteBon.cardValue}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><h4>Date de livraison: </h4>&nbsp;&nbsp;{{carteBon.date}}</mat-list-item>
      <mat-divider></mat-divider>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()" color="primary">Fermer</button>
</div>
