<mat-toolbar>
  <span>Evénements</span>
  <span class="fill-remaining-space"></span>
</mat-toolbar>


<form mat-dialog-content class="normal-form" #angForm="ngForm">
  <div class="search-div">
    <mat-form-field>
      <input matInput required [matDatepicker]="picker" placeholder="date" [(ngModel)]="event.date" name="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Champ Obligatoire</mat-error>
    </mat-form-field>&nbsp;&nbsp;
    <mat-form-field>
      <input matInput required placeholder="description" type="text" [(ngModel)]="event.description" name="description">
      <mat-error>Champ Obligatoire</mat-error>
    </mat-form-field>&nbsp;&nbsp;
    <button [disabled]="angForm.pristine || angForm.invalid" mat-raised-button (click)="addEvent()">
      <mat-icon>add</mat-icon>Ajouter
    </button>
  </div>
</form>

<div class="mat-elevation-z8 mt-3">
  <mat-table [dataSource]="eventService.events" matSort>
    <ng-container matColumnDef="Date">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">

        <button (click)="updateEventDialog(row)" mat-icon-button matTooltip="Editer" color="primary">
          <mat-icon>edit</mat-icon>
        </button>

        <button (click)="deleteEventDialog(row)" mat-icon-button matTooltip="Supprimer"
          color="warn">
          <mat-icon>delete_outline</mat-icon>
        </button>
      
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data ...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':eventService.events!=null}">
    </mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']"
      [ngClass]="{'hide':!(eventService.events!=null && eventService.events.length==0)}">
    </mat-footer-row>
  </mat-table>
</div>
