<ng-progress [positionUsing]="'marginLeft'" [direction]="'leftToRightIncreased'" [color]="'#4286f4'"
  [trickleSpeed]="500" [thick]="true" [ease]="'easeInSine'"></ng-progress>
<div class="container">
  <mat-accordion>
    <div class="margin-param">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <span>Carte Bon </span>
        </mat-expansion-panel-header>
        <app-card-bon-list></app-card-bon-list>
      </mat-expansion-panel>
    </div>

    <div class="margin-param">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <span>Bon Valeur</span>
        </mat-expansion-panel-header>
        <app-bon-valeur-list></app-bon-valeur-list>
      </mat-expansion-panel>
    </div>

    <div class="margin-param">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <span>Cheque</span>
        </mat-expansion-panel-header>
        <app-cheque-list></app-cheque-list>
      </mat-expansion-panel>
    </div>

    <div class="margin-param">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <span>Credit</span>
        </mat-expansion-panel-header>
        <app-credit-list></app-credit-list>
      </mat-expansion-panel>
    </div>

    <div class="margin-param">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <span>STEG et autres</span>
        </mat-expansion-panel-header>
        <app-steg-et-autres-list></app-steg-et-autres-list>
      </mat-expansion-panel>
    </div>

    <div class="margin-param">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <span>Espèces</span>
        </mat-expansion-panel-header>
        <app-espece-list></app-espece-list>
      </mat-expansion-panel>
    </div>

    <div class="margin-param">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <span>Subvention pêche</span>
        </mat-expansion-panel-header>
        <app-subvention-peche-list></app-subvention-peche-list>
      </mat-expansion-panel>
    </div>

    <div class="margin-param">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <span>Contre Bon Caisse</span>
          </mat-expansion-panel-header>
          <app-contre-bon-caisse-list></app-contre-bon-caisse-list>
        </mat-expansion-panel>
      </div>

  </mat-accordion>
</div>
