<div class="margin-param">
    <mat-toolbar color="primary">
        <span>Carte Bon Types</span>
    </mat-toolbar>
    <app-card-type-list></app-card-type-list>
</div>
<div class="margin-param">
    <mat-toolbar color="primary">
        <span>Clients</span>
    </mat-toolbar>
    <app-client-list></app-client-list>
</div>
<div class="margin-param">
    <mat-toolbar color="primary">
        <span>Citernes</span>
    </mat-toolbar>
    <app-citerne-list></app-citerne-list>
</div>
<div class="margin-param">
  <mat-toolbar color="primary">
      <span>Indexs</span>
  </mat-toolbar>
  <app-index-list></app-index-list>
</div>
