<div class="search-div">
  <button mat-raised-button (click)="addCreditDialog()">
    <mat-icon>add</mat-icon>Ajouter
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput placeholder="Search" autocomplete="off" [(ngModel)]="search" (keyup)="filter()">
    <button *ngIf="search" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="creditService.creditsMatTab" matSort>
    <ng-container matColumnDef="clientNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Numéro du client</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.clientNumber}}</mat-cell>
      <mat-footer-cell *matFooterCellDef>Recette Crédits</mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="clientName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nom du client</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.clientName}}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>date d'endettement</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="creditOriginalValue">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Valeur initial du crédit</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.creditOriginalValue}}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="creditRestValue">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Valeur restante du crédit</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.creditRestValue}}</mat-cell>
      <mat-footer-cell *matFooterCellDef>{{getTotalPrevue()}}</mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button class="position" mat-icon-button matTooltip="Editer" color="primary" (click)="updateCreditDialog(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="position" mat-icon-button matTooltip="Supprimer" color="warn"
          (click)="deleteCreditDialog(row._id, 'credit')">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data ...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="displayedColumns"
      [ngClass]="{'hide':creditService.creditsMatTab!=null && creditService.creditsMatTab.data.length==0}">
    </mat-footer-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':creditService.creditsMatTab!=null}">
    </mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']"
      [ngClass]="{'hide':!(creditService.creditsMatTab!=null && creditService.creditsMatTab.data.length==0)}">
    </mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
