<div class="header">
  <div class="bg">

  </div>
</div>

<div class="quote container">
  <blockquote class="blockquote">
    <p>
      <mat-icon>format_quote</mat-icon>
      Contrôler votre station en toute sécurité
      <mat-icon>format_quote</mat-icon>
    </p>
  </blockquote>
</div>

<div class="weather row">
  <div class="weather-img col-md-6 col-lg-6 col-sm-12">
    <h3>{{weather?.name}}, {{weather?.sys.country}}</h3>
    <img class="img" [src]="imgSrc" alt="">
  </div>
  <div class="weather-content col-md-6 col-lg-6 col-sm-12">
    <mat-card>
      <mat-card-content>
        <h3>Température : {{temp}} °C</h3>
        <h3>Humidité : {{humidity}} %</h3>
        <h3>Lever du soleil : {{sunrise}}</h3>
        <h3>Coucher du soleil : {{sunset}}</h3>
      </mat-card-content>
    </mat-card>
    
  </div>
</div>