<ng-progress [positionUsing]="'marginLeft'" [direction]="'leftToRightIncreased'" [color]="'#4286f4'"
  [trickleSpeed]="500" [thick]="true" [ease]="'easeInSine'"></ng-progress>
<div class="header">
  <div class="bg">
  </div>
</div>

<div class="quote">
  <blockquote class="blockquote">
    <p>
      <mat-icon>format_quote</mat-icon>
      Contrôler votre station en toute sécurité
      <mat-icon>format_quote</mat-icon>
    </p>
  </blockquote>
</div>

<app-tanks></app-tanks>

<div class="quote">
  <blockquote class="blockquote">
    <p>
      <mat-icon>format_quote</mat-icon>
      Stat
      <mat-icon>format_quote</mat-icon>
    </p>
  </blockquote>
</div>

<div class="info">
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-lg-3 col-sm-12 margin">
        <mat-card>
          <div class="row">
            <div class="col-3 padding-icon">
              <mat-icon color="primary">supervisor_account</mat-icon>
            </div>
            <div class="col-9">
              <div class="row value">
                {{emps}}
              </div>
              <div class="row content">
                <mat-divider></mat-divider>
                Nombre d'employés
              </div>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 margin">
        <mat-card>
          <div class="row">
            <div class="col-3 padding-icon">
              <mat-icon color="primary">attach_money</mat-icon>
            </div>
            <div class="col-9">
              <div class="row value">
                {{totalRevenue}} <sup> <span class="text-sup">TDN</span></sup>
              </div>
              <div class="row content">
                <mat-divider></mat-divider>
                Revenue Total du mois {{month}}
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12 margin">
        <mat-card>
          <div class="row">
            <div class="col-3 padding-icon">
              <mat-icon color="primary"> local_gas_station</mat-icon>
            </div>
            <div class="col-9">
              <div class="row value">
                {{quantiteCarburant}} <sup> <span class="text-sup">L</span></sup>
              </div>
              <div class="row content">
                <mat-divider></mat-divider>
                Quantité Carburant du mois {{month}}
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12 margin">
        <mat-card>
          <div class="row">
            <div class="col-3 padding-icon">
              <mat-icon color="primary">work</mat-icon>
            </div>
            <div class="col-9">
              <div *ngIf="releveIndexService.pompistes.length ===0"><i>No data!</i></div>
              <div *ngFor=" let pompiste of releveIndexService.pompistes" class="row value-pompiste">
                {{pompiste.nom}}
              </div>
              <div class="row content">
                <mat-divider></mat-divider>
                Liste des pompistes en travail
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div class="calendar">
  <app-calendar></app-calendar>
</div>

<div class="weather row">
  <div class="weather-img col-md-6 col-lg-6 col-sm-12">
    <h3>{{weather?.name}}, {{weather?.sys.country}}</h3>
    <img class="img" [src]="imgSrc" alt="">
  </div>
  <div class="weather-content col-md-6 col-lg-6 col-sm-12">
    <mat-card>
      <mat-card-content>
        <h3>Température : {{temp}} °C</h3>
        <h3>Humidité : {{humidity}} %</h3>
        <h3>Lever du soleil : {{sunrise}}</h3>
        <h3>Coucher du soleil : {{sunset}}</h3>
      </mat-card-content>
    </mat-card>

  </div>
</div>
