<mat-toolbar>
  <span>Modifier prix carburant</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<form mat-dialog-content class="normal-form" #angForm="ngForm">
  <mat-grid-list cols="1" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" >
        <mat-form-field>
          <input matInput placeholder="Carburant" required type="text" name="carburant" [(ngModel)]="carburant.carburant">
          <mat-error>carburant is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Prix" required type="number" name="prix" [(ngModel)]="carburant.prix">
          <mat-error>prix Carburant is required.</mat-error>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="angForm.pristine || angForm.invalid"
            (click)="updateCarburant()">Modifier type</button>
          <button mat-raised-button color="warn" (click)="onClear(angForm)">Reset</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
