<div class="search-div">
  <button mat-raised-button (click)="addCarburantDialog()">
    <mat-icon>add</mat-icon>Ajouter
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput placeholder="Search" autocomplete="off" [(ngModel)]="search" (keyup)="filter()">
    <button *ngIf="search" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="prixcarburantService.carburantsMatTab" matSort>
    <ng-container matColumnDef="carburant">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Carburant</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.carburant}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="prix">
      <mat-header-cell *matHeaderCellDef>Prix</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.prix}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="identifiantPrix">
      <mat-header-cell *matHeaderCellDef>Identifiant prix</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.identifiantPrix}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="updateCarburantDialog(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deletePrixCarburantDialog(row._id, 'Prix carburant')">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data ...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':prixcarburantService.carburantsMatTab!=null}">
    </mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']"
      [ngClass]="{'hide':!(prixcarburantService.carburantsMatTab!=null && prixcarburantService.carburantsMatTab.data.length==0)}">
    </mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
