<div mat-dialog-content>
  <mat-list>
    <mat-list-item>
      <h4>Numéro du Bon: </h4>&nbsp;&nbsp;{{bonValeur.cardNumber}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <h4>Code du Client: </h4>&nbsp;&nbsp;{{bonValeur.clientCode}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <h4>Nom du Client: </h4>&nbsp;&nbsp;{{bonValeur.clientName}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <h4>Adresse du Client: </h4>&nbsp;&nbsp;{{bonValeur.clientAdress}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <h4>Valeur du bon: </h4>&nbsp;&nbsp;{{bonValeur.cardValue}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <h4>Date de livraison: </h4>&nbsp;&nbsp;{{bonValeur.date}}
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
<div mat-dialog-actions>
  <span class="fill-remaining-space"></span>
  <button mat-raised-button (click)="onNoClick()" color="primary">Fermer</button>
  <span class="fill-remaining-space"></span>
</div>
