<mat-toolbar>
  <span>Ajouter type carte bon</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form mat-dialog-content class="normal-form" #angForm="ngForm" (submit)="addCardType()">
  <mat-grid-list cols="1" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <input matInput placeholder="Code carte Bon" required type="text" name="cardCode" [(ngModel)]="cardType.cardCode">
          <mat-error>code carte bon is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Description" required type="text" name="cardDescription" [(ngModel)]="cardType.cardDescription">
          <mat-error>description carte bon is required.</mat-error>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="angForm.pristine || angForm.invalid" >Ajouter type</button>
          <button mat-raised-button color="warn" (click)="onClear(angForm)">Reset</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
