<mat-toolbar>
  <span>Ajouter Bon Valeur</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<form mat-dialog-content class="normal-form" #angForm="ngForm">
  <div>
    <mat-grid-list [cols]="width" rowHeight="100px">

      <mat-grid-tile>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" name="cardValue"
          [(ngModel)]="bonValeur.cardValue">
          <mat-radio-button class="example-radio-button" [value]="10">10</mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="15">15</mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="25">25</mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="30">30</mat-radio-button>
        </mat-radio-group>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Nombre de bons" required type="number" name="numberOFCards"
            [(ngModel)]="bonValeur.numberOfCards">
          <mat-error>Nombre de bons est obligatoire</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Date Livraison" required type="text" name="date" [(ngModel)]="bonValeur.date">
          <mat-error>Date Livraison est obligatoire</mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="button-row">
      <button mat-raised-button color="primary" (click)="addBonValeur()"
        [disabled]="angForm.pristine || angForm.invalid">Ajouter
      </button>
      <button mat-raised-button color="warn" (click)="onClear(angForm)">Reset</button>
    </div>
  </div>
</form>
