<mat-toolbar>
  <span>Modifier Index</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<form mat-dialog-content class="normal-form" #angForm="ngForm">
  <div>
    <mat-grid-list [cols]="width" rowHeight="100px">

      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Reference" (keydown.space)="$event.preventDefault()" required type="text" name="reference" [(ngModel)]="index.reference">
          <mat-error>Ce champ est obligatoire.</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Valeur Index" required type="number" name="valeurIndex"
            [(ngModel)]="index.valeurIndex">
          <mat-error>Ce champ est obligatoire.</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <!--<mat-grid-tile>
        <mat-form-field>
          <mat-label>Carburant</mat-label>
          <mat-select  required name="carburant" [(ngModel)]="index.carburant">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let p of carburantService.carburants" [value]="p._id" >
              {{p.ref}}
            </mat-option>
          </mat-select>
          <mat-error>Ce champ est obligatoire.</mat-error>
        </mat-form-field>
      </mat-grid-tile>-->

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Citerne</mat-label>
          <mat-select required name="citerne" [(ngModel)]="index.citerne">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let c of citerneService.citernes" [value]="c._id" >
              {{c.code}}
            </mat-option>
          </mat-select>
          <mat-error>Ce champ est obligatoire.</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Distributeur</mat-label>
          <mat-select required name="distributeur" [(ngModel)]="index.distributeur">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let d of distributeurService.distributeurs" [value]="d._id" >
              {{d.reference}}
            </mat-option>
          </mat-select>
          <mat-error>Ce champ est obligatoire.</mat-error>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

    <div class="button-row">
      <button mat-raised-button color="primary" (click)="updateIndex()"
        [disabled]="angForm.pristine || angForm.invalid">Modifier
      </button>
      <button mat-raised-button color="warn" (click)="onClear(angForm)">Reset</button>
    </div>
  </div>
</form>
